{% extends "global/html_struct.html" %}
{% load humanize %}
{% load i18n %}
{% block content %}

<!-- ExtraData -->

{% for llave, valor in extra.items %}
<p><strong>{{ llave }}</strong>: {{valor}}</p>
{% endfor %}

<!-- Agregado especifico por aplicacion -->

{% if saldo %}

    <p class="lead">Tu saldo es de <a href="{% url 'mi_saldo' %}">{% language 'en' %}{{ saldo | intcomma }}{% endlanguage %}</a>.</p>

{% endif %}

{% if productos %}

    <p class="lead font-weight-bold">{{ txt_productos }}</p>

    <div class="card-columns">

        {% for prod in productos %}

            {% include "productos/producto/card.html" %}

        {% endfor %}
        
    </div>

{% endif %}

{% endblock %}