{% extends "global/html_struct.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<form class="form-signin" method="post" autocomplete="off">
    {% csrf_token %}
    <img src="{% static "img/tok3_logo_splash.png" %}" />
    {{ frm | crispy }}
    {% if msgs %}
        {% for msg in msgs }
            <div class="alert alert-danger" role="alert">
                {{ msg }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor }
    {% endif %}
    <button type="submit" class="btn btn-lg btn-primary btn-block">Entrar</button>
</form>
{% endblock %}
