{% extends "global/html_struct.html" %}
{% load humanize %}
{% load i18n %}

{% block content %}

{% if mensaje %}
<div class="alert alert-{{ mensaje.type }}" role="alert">
    {{ mensaje.msg | safe }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<form method="post" enctype="application/x-www-form-urlencoded">
    {% csrf_token %}
    <input type="hidden" name="action" value="filter_vend" />
    <div class="form-row">
        <div class="col form-group">
            <label for="idusrvendedor">Vendedor</label>
            <select class="form-control" id="idusrvendedor" name="idusrvendedor">
                <option value="">Todos</option>
                {% if encargados.gerentes %}
                    <optgroup label="Gerentes">
                        {% for item in encargados.gerentes %}
                            <option value="{{ item.idusuario }}" {% if actual == item.idusuario %}selected="selected"{% endif %}>
                                {{ item }}
                            </option>
                        {% endfor%}
                    </optgroup>
                {% endif %}
                {% if encargados.vendedores %}
                    <optgroup label="Vendedores">
                        {% for item in encargados.vendedores %}
                            <option value="{{ item.idusuario }}" {% if actual == item.idusuario %}selected="selected"{% endif %}>
                                {{ item }}
                            </option>
                        {% endfor%}
                    </optgroup>
                {% endif %}
            </select>
        </div>
        <div class="col form-group">
            <label>&nbsp;</label>
            <button type="submit" class="btn btn-outline-secondary btn-block"><i class="fas fa-sync-alt"></i> Actualizar</button>
        </div>
    </div>
</form>

<form method="post" enctype="application/x-www-form-urlencoded">
    {% csrf_token %}
    <input type="hidden" name="action" value="activate_deactivate_clients" />

<table class="table table-striped table-sm table-responsive-md">
    <thead>
        <tr>
            <th></th>
            <th>Clave</th>
            <th>Cliente</th>
            <th>Vendedor</th>
            <th>Celular</th>
            <th>EMail</th>
            <th>Teléfono</th>
            <th>Activo</th>
            <th></th>
            <th class="text-right" colspan="3">
                {% if perms.buyersandsellers.actualizar_clientes_usuario %}
                    <button type="submit" class="btn btn-outline-secondary"><i class="far fa-save"></i> Guardar</button>
                {% endif %}
            </th>
        </tr>
    </thead>
    <tbody id="data-tbl">
        {% for reg in data %}
            <tr>
                <td>{% if reg.fotografia %}<img class="rounded-circle" src="{{ MEDIA_URL }}{{ reg.fotografia }}" height="40" width="40" />{% endif %}</td>
                <td>{{ reg.clave }}</td>
                <td>{{ reg.nombre }}</td>
                <td>{{ reg.compra_a }}</td>
                <td>
                    {% if reg.celular %}
                    <a class="btn btn-outline-secondary" title="Enviar Mensaje" href="https://api.whatsapp.com/send?phone=52{{ reg.celular }}" target="_blank">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    {% endif %}
                </td>
                <td>
                    {% if reg.email %}
                        <a href="mailto:{{ reg.email }}">
                            {{ reg.email }}
                        </a>
                    {% endif %}
                </td>
                <td>
                    {% if reg.telefono %}
                        {{ reg.telefono }}
                    {% endif %}
                </td>
                <td>
                    <input name="cliente_activo_id" value="{{ reg.pk }}" {% if reg.is_active %}checked="checked"{% endif %} type="checkbox" {% if perms.buyersandsellers.actualizar_clientes_usuario %}{% else %}disabled="disabled"{% endif %} />
                    <input name="cliente_admin_id" value="{{ reg.pk }}" type="hidden" />
                </td>
                <td class="text-center">
                    <button onclick="Cte.showNotas( {{ reg.pk }}, '{{ reg.clave }}', '{{ reg.nombre }}' )" type="button" class="btn btn-outline-secondary" title="Notas">
                        <i class="far fa-comment-alt"></i>
                    </button>
                </td>
                <td class="text-center">
                    {% if perms.buyersandsellers.clientes_usuario %}
                    <a href="{% url 'cliente_ver' pk=reg.pk %}" class="btn btn-outline-secondary" title="Ver"><i class="far fa-eye"></i></a>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if perms.buyersandsellers.actualizar_clientes_usuario %}
                    <a href="{% url 'cliente_actualizar' pk=reg.pk %}" class="btn btn-outline-secondary" title="Actualizar"><i class="far fa-edit"></i></a>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if perms.buyersandsellers.eliminar_clientes_usuario %}
                    <a href="{% url 'cliente_eliminar' pk=reg.pk %}" class="btn btn-outline-secondary" title="Eliminar"><i class="far fa-trash-alt"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</form>

<script type="text/javascript">
    let productos = [
        { "pk" : 0, "precio": 0, "nombre" : "" }
        {% for p in products %}
            , { "pk" : {{ p.pk }}, "precio" : {{ p.precio_de_venta }}, "nombre": `{{ p | safe }}` }
        {% endfor %}
    ];
</script>

<script type="text/x-handlebars-template" id="notas-cte-template">
    <form method="post" enctype="application/x-www-form-urlencoded">
        {% csrf_token %}
        {% verbatim %}
        <input type="hidden" name="action" value="add-note" />
        <input type="hidden" name="idcte" value="{{idcte}}" />
        <input type="hidden" name="idusrvendedor" value="{{idusrvendedor}}" />
        <div class="form-row">
            <div class="col form-group">
                <label for="nota">Nueva Nota</label>
                <textarea class="form-control" id="nota" name="nota"></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-primary">Agregar Nota</button>
        {{#each notas}}
            <hr />
            <div class="row">
                <div class="col">
                    <span class="text-muted">{{fecha}}: </span>{{nota}}
                </div>
            </div>
        {{/each}}
        {% endverbatim %}
    </form>
</script>

{% endblock %}
