{% extends "global/html_struct.html" %}
{% load humanize %}
{% load i18n %}

{% block content %}
<form id="data-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="action" id="action" value="set-data" />

    <div class="form-row">
        <div class="col form-group">
            <label for="fecha_creacion">Fecha de Creación</label>
            <input id="fecha_creacion" name="fecha_creacion" value="{{ hl.fecha_creacion | date:'Y-m-d' }}" type="date" class="form-control" readonly="readonly" />
        </div>
        <div class="col form-group">
            <label for="fecha_entrega">Fecha de Entrega</label>
            <input id="fecha_entrega" name="fecha_entrega" value="{{ hl.fecha_entrega | date:'Y-m-d' }}" type="date" class="form-control" readonly="readonly" />
        </div>
        <div class="col form-group">
            <label for="generada_por">Generada por</label>
            <input id="generada_por" name="generada_por" value="{{ hl.generada_por }}" type="text" class="form-control" readonly="readonly" />
        </div>
    </div>

    {% if can_edit %}
    <div class="form-row">
        <div class="col form-group">
            <label for="banco">Banco</label>
            <input id="banco" name="banco" value="{% if hl.banco %}{{ hl.banco }}{% endif %}" type="text" class="form-control" />
        </div>
        <div class="col form-group">
            <label for="fecha_banco">Fecha</label>
            <input id="fecha_banco" name="fecha_banco" value="{{ hl.fecha_banco | date:'Y-m-d' }}" type="date" class="form-control" />
        </div>
        <div class="col form-group">
            <label for="referencia">Referencia</label>
            <input id="referencia" name="referencia" value="{% if hl.referencia %}{{ hl.referencia }}{% endif %}" type="text" class="form-control" />
        </div>
        <div class="col form-group">
            <label for="no_autorizacion">No. Autorización</label>
            <input id="no_autorizacion" name="no_autorizacion" value="{% if hl.no_autorizacion %}{{ hl.no_autorizacion }}{% endif %}" type="text" class="form-control" />
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-2 offset-sm-10">
            <button class="btn btn-outline-secondary btn-block" type="submit">
                <i class="far fa-save"></i>
                Guardar
            </button>
        </div>
    </div>

    {% else %}

    <div class="form-row">
        <div class="col form-group">
            <label for="banco">Banco</label>
            <input id="banco" name="banco" value="{% if hl.banco %}{{ hl.banco }}{% endif %}" type="text" class="form-control" readonly="readonly" />
        </div>
        <div class="col form-group">
            <label for="fecha_banco">Fecha</label>
            <input id="fecha_banco" name="fecha_banco" value="{{ hl.fecha_banco | date:'Y-m-d' }}" type="date" class="form-control" readonly="readonly" />
        </div>
        <div class="col form-group">
            <label for="referencia">Referencia</label>
            <input id="referencia" name="referencia" value="{% if hl.referencia %}{{ hl.referencia }}{% endif %}" type="text" class="form-control" readonly="readonly" />
        </div>
        <div class="col form-group">
            <label for="no_autorizacion">No. Autorización</label>
            <input id="no_autorizacion" name="no_autorizacion" value="{% if hl.no_autorizacion %}{{ hl.no_autorizacion }}{% endif %}" type="text" class="form-control" readonly="readonly" />
        </div>
    </div>

    {% endif %}

    <table class="table table-striped table-sm table-responsive-md">
        <thead>
            <tr>
                <td class="d-none">
                    <i class="far fa-trash-alt"></i>
                </td>
                <th>Cliente</th>
                <th>No. Pago</th>
                <th>Concepto</th>
                <th>Fecha</th>
                <th>Monto</th>
            </tr>
        </thead>
        <tbody id="data-tbl">
            {% for p in pagos %}
                <tr>
                    <td class="d-none">
                        <input type="checkbox" name="removerpago" value="{{ p.pk }}" />
                    </td>
                    <td>{{ p.cargo.cliente }}</td>
                    <td>{{ p.no_de_pago }}</td>
                    <td>{{ p.concepto }}</td>
                    <td>{{ p.fecha | date:"d/m/Y" }}</td>
                    {% language 'en' %}
                        <td class="text-right">{{ p.monto | intcomma }}</td>
                    {% endlanguage %}
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="4">Total</th>
                {% language 'en' %}
                    <th class="text-right">{{ total | intcomma }}</th>
                {% endlanguage %}
    </table>

</form>

{% endblock %}