{% extends "global/form.html" %}

{% block extraafter %}

{% if arbol %}
    <h3>Árbol de Descendencia</h3>
    {% for p in arbol %}
        {% if p.cliente %}
            <span class="text-success"><i class="fas fa-user"></i></span>
        {% endif %}
        {% if p.vendedor %}
            <span class="text-primary"><i class="fas fa-user-tie"></i></span>
        {% endif %}
        {{ p.depth_name | safe }}
        <br />
    {% endfor %}
{% endif%}

{% endblock %}

{% block extrabefore %}

{% if fotografia %}

<img src="{{ MEDIA_URL }}{{ fotografia }}" class="rounded-circle float-left" height="150" width="150" />

{% endif %}

{% endblock %}
