{% load static %}
{% load util_filters %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta http-equiv="Expires" content="Fri, Jan 01 1900 00:00:00 GMT" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Cache-Control" content="no-cache" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Lang" content="es-mx" />
		<meta name="author" content="Rubén Ramírez Gómez RAGR8602025L7 rramirez@rramirez.com" />
		<meta http-equiv="Reply-to" content="rramirez@rramirez.com" />
		<meta name="creation-date" content="09/06/2012" />
		<meta name="revisit-after" content="15 days" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<title>..:: TocaTres ::..</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		{% if req_ui %}
		<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />
		{% endif %}
		<link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png" />
		<link rel="stylesheet" href="{% static 'css/styles.css' %}?rn={{ 1 | random_num:99999999 }}" />
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js" integrity="sha256-+JMHsXRyeTsws/tzbIh5YHQxRdKCuNjmvNcTFtY6DLc=" crossorigin="anonymous"></script>
		<script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy" crossorigin="anonymous"></script>
		{% if req_ui %}
		<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/datepicker-es.js' %}"></script>
		{% endif %}
		{% if req_chart %}
		<script type="text/javascript" src="{% static 'js/chart-272.min.js' %}"></script>
		{% endif %}
		<script type="text/javascript" src="{% static 'js/app.js' %}?rn={{ 1 | random_num:99999999 }}"></script>
		<script type="text/javascript">
			let BASE_URL = '//{{ request.get_host }}'
		</script>
	</head>
	<body>
            
        {% if menu_main %}
            {% include "global/menu_main.html" %}
		{% endif %}

        <div class="container">

			{% if toolbar %}
				{% include "global/toolbar.html" %}
			{% endif %}

            {% if titulo %}
                <h1>
					{{ titulo }}
					
					{% if titulo_descripcion %}
						<small class="text-muted">
							{{ titulo_descripcion }}
						</small>
					{% endif %}

				</h1>
			{% endif %}
			
			{% block extrabefore %}
			{% endblock%}

			{% block content %}
			{% endblock %}

			{% block extraafter %}
			{% endblock%}
            
		</div>
		
		{% verbatim %}
		<script type="text/x-handlebars-template" id="modal-panel-message-template">
			<div id="modal-panel-message" class="modal fade" tabindex="-1" role="dialog">
				<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
					<div class="modal-content">
						{{#if title}}
						<div class="modal-header">
							{{#if title}}
							<h5 class="modal-title">{{title}}</h5>
							{{/if}}
							{{#if close}}
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							{{/if}}
						</div>
						{{/if}}
						{{#if body}}
						<div class="modal-body">
							{{{body}}}
						</div>
						{{/if}}
						{{#if footer}}
						<div class="modal-footer">
							{{footer}}
						</div>
						{{/if}}
					</div>
				</div>
			</div>
		</script>
		{% endverbatim %}
        
        {% if True == footer %}
            {% include "global/footer.html" %}
		{% endif %}

		{% if req_ui %}
			<script type="text/javascript">
				$.datepicker.setDefaults( $.datepicker.regional[ "es" ] );
				$( document ).ready( () => {
					$( `input[type="date"]` ).datepicker( {
						changeMonth: true,
						changeYear: true,
						dateFormat : 'yy-mm-dd'  
					} );
				} );
			</script>
		{% endif %}

    </body>
</html>