{% load static %}
<!-- menu_main.html (Open) -->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{% url 'seguridad_inicio' %}">
            <img src="{% static "img/tok3_logo.png" %}" height="30" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav">
                {% for mp in menu_main.perms %}
                    <li class="nav-item">
                    {% if 0 == mp.items_qty %}
                        {% if 'vw_contacto' == mp.permiso.vista %}
                            {% if menu_main.wapp_vendedor %}
                                {% for g in request.user.groups.all %}
                                    {% if 'Cliente' in g.name %}
                                        <a href="https://wa.me/521{{ menu_main.wapp_vendedor }}" class="nav-link" target="_blank">
                                            {{ mp.permiso.mostrar_como }}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% else %}
                            <a href="{% if 'vw' == mp.permiso.vista %}#{% else %}{% url mp.permiso.vista %}{% endif %}" class="nav-link">
                                {{ mp.permiso.mostrar_como }}
                            </a>
                        {% endif %}
                    {% else %}
                        <a href="{% if 'vw' == mp.permiso.vista %}#{% else %}{% url mp.permiso.vista %}{% endif %}" id="mainMenu-{{ mp.permiso.pk }}" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ mp.permiso.mostrar_como }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="mainMenu-{{ mp.permiso.pk }}">
                            {% for it in mp.items %}
                                <a href="{% if 'vw' == it.permiso.vista %}#{% else %}{% url it.permiso.vista %}{% endif %}" class="dropdown-item">
                                    {{ it.mostrar_como }}
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                    </li>
                {% endfor %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'seguridad_logout' %}">Salir</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- menu_main (Close) -->
