{% load util_filters %}
{% load humanize %}
{% load i18n %}

<!-- <div class="card" onclick="location.href='{% url 'campaña_novedades_producto' pk=prod.pk mp=mostrar_precio %}'"> -->
<div class="card">
    {% if prod.imagen %}
        <img class="card-img-top" src="{{ MEDIA_URL }}{{ prod.imagen }}" title="{{ prod.nombre }}" data-toggle="tooltip" />
    {% endif %}
    <div class="card-body">
        {% if prod.nombre %}<h5 class="card-title">{{ prod }}</h5>{% endif %}
        {% if prod.descripcion %}
            <p class="card-text">
                <small>{{ prod.descripcion | as_paragraph | safe }}</small>
            </p>
        {% endif %}
        <p class="card-text">
            {% if prod.precio_de_venta %}
                <small class="float-right">$ {% language 'en' %}{{ prod.precio_de_venta | intcomma }}{% endlanguage %}</small>
            {% endif %}
            {% if prod.sku %}
                <small class="text-muted d-inline-block">SKU: {{ prod.sku }}</small>
            {% endif %}
        </p>
    </div>
</div>