{% extends "global/html_struct.html" %}
{% load humanize %}
{% load i18n %}

{% block content %}

<p class="lead">
    Saldo: 
    {% language 'en' %}
        {{ saldo | intcomma }}
    {% endlanguage %}
</p>

{% for mov in movs %}
    <div class="movimiento">
        <div class="clearfix">
            <div class="float-left text-muted">{{ mov.fecha | date:"d/m/Y" }}</div>
            <div class="float-right">
                {% language 'en' %}
                    {% if mov.cargo %}
                        <span class="text-primary">- {{ mov.monto | intcomma }} </span>
                    {% else %}
                        {{ mov.monto | intcomma }}
                    {% endif %}
                {% endlanguage %}
            </div>
        </div>
        <div class="concepto">
            {{ mov }}
        </div>
    </div>
{% endfor %}

{% endblock %}
